body{
    margin: 50px 0;
    min-height:600px;
}

h1, h2, h3, h4, h5, h6{
    font-family:"freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    margin-bottom:0;
    font-weight: 700;
}

h1#title, h1.placeholder{
    font-size: 52px;
    line-height: 1;
    margin:0 0 30px 0;
    position:relative;
}

h1.placeholder{
    top:0;
    left:0;
    position:absolute;
    color:#CCC;
}

.field-container{
    position:relative;
}
.field-container #body{
    margin-bottom:40px;
}

div#body{
}
.main-body-container{
    margin-bottom:40px;
}
div#body h3{
    font-size: 26px;
    line-height:30px;
}

div#body h4{
    font-size: 22px;
    line-height: 24px;
}

p, div#body, div#b_placeholder{
    position:relative;
    font-family: "ff-tisa-web-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.45;
    color:#333333;
}

div#b_placeholder{
    top:0;
    left:0;
    position:absolute;
}

div#b_placeholder p{
    color: #CCC;
}

div#body p{
    margin-bottom:0;
}
p.description{
    text-align:center;
    font-family: "ff-tisa-web-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 400;
    font-style: italic;
    font-size: 13px;
    line-height: 1.4;
    color: #777;
    word-wrap: break-word;
    margin-bottom:10px;
}

.span9 h1, .span9 p{
    margin-right:40px;

}
.view-container{
    top:0;
    position:absolute;
    width:100%;
}
.container-narrow {
    position:relative;
    top:0px;
    margin: 0 auto;
    max-width: 840px;
    padding: 0 20px;
}

p, h1, div, .medium-editor-toolbar-form-anchor input{
    outline: none;
    border:none !important;
    box-shadow:none !important;
}
.medium-editor-toolbar-form-anchor input{
    margin:9px;
}
a.btn{
    box-shadow: none;
    background: #EEE;
    border: none;
    border-bottom:2px solid #CCC;
}
a.btn.btn-primary{
    background: #57ad68;
    border: none;
    border-bottom:2px solid #208434;
}
blockquote{
margin: 0 0 20px 15px
}
a.medium-editor-button-active.first{
    border-radius: 5px 0px 0px 5px;
    
}
a.medium-editor-button-active.last{
    border-radius: 0px 5px 5px;
}
.remix-footer{
    font-size:15px;
    color:#999;
    font-style:italic;
    margin-top:15px;
}

.animate-enter, .animate-leave {
    -webkit-transition: .3s linear all; /* Safari/Chrome */
    -moz-transition: .3s linear all; /* Firefox */
    -ms-transition: .3s linear all; /* IE10 */
    -o-transition: .3s linear all; /* Opera */
    transition: .3s linear all; /* Future Browsers */
}

.animate-enter{
    opacity: 0;
}
.animate-leave{
    opacity: 1;
}
 
.animate-enter.animate-enter-active {
 /* The animation code itself */
    opacity: 1;
}

.animate-leave.animate-leave-active {
 /* The animation code itself */
    opacity: 0;
}

@media (max-width: 767px) {
    .span9 h1, .span9 p{
        margin-right:0px;

    }

    h1#title, h1#t_placeholder{
        font-size: 28px;
        line-height: 1.2;
        margin-bottom:10px;
    }

    p, div#body, div#b_placeholder{
        font-weight: 400;
        font-size: 19px;
        line-height: 1.45;
        color:#333333;
    }
    
    .container-narrow {
        padding: 0;
    }
}

